############################
# Python
############################

__pycache__/
*.pyc
*.pyo
*.pyd
*.log

############################
# Virtual Environments
############################

venv/
.venv/
env/
ENV/

############################
# IDEs
############################

.idea/
.vscode/

############################
# OS Files
############################

.DS_Store
Thumbs.db

############################
# Jupyter / Misc
############################

.ipynb_checkpoints/
